@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Khand');

body {
    font-family:'Roboto Condensed',sans-serif;
}
/*-----------------------------------------------Fonts and Colors*/

.fabfour-content-container,
.info-content-container{
   font-size:20px;
   color:#000000;
   padding-bottom: 30px;
   padding-top:30px;
}
.audio-content-container,
.video-content-container,
.gigs-content-container,
.getupdates-content-container{
     color:#ffffff;
     min-height:500px;
     padding-bottom: 30px;
     padding-top:30px;
}

.getupdates-content-container{
     min-height:250px;
}

/*---------------------------------------------------Header*/
.landing-image {
    position:relative;
    background: url('../images/Beatles_landing_image.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 75%; /* (width/height)* 100 resize landing-image to 
    fit smaller devices code from http://thenewcode.com/586/CSS-Fluid-Image-Techniques-for-Responsive-Site-Design*/
}
#heading
{ 
    width: 100%;
  height: 450px;
  padding: 20px 0;
  background: url('../images/Beatles_aboutus_image.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*----------------------------------------------Navigation*/
.navbar{
    top:0;
    left:0;
    margin-bottom: 0px;
    background-color: rgb(25,25,112);
    border:0px;
    position:fixed;
    width:100%;
    z-index:1;
    min-height: 50px;

}

.navbar-default .navbar-nav>li>a {
    font-family:'Khand', sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size:18.5px;
    left:-25px;

}

.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
    color: rgb(255,255,0);
    background-color: transparent;
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

#landing-logo{
    padding:5px;
}

/*--------------------------------------------------Containers*/
.container-wrapper--fabfour{
    background: url('../images/fabfoursection.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-wrapper--audio{
    background: url('../images/audiosection.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container-wrapper--video{
     background: url('../images/videosection.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
 
.container-wrapper--gigs{
     background: url('../images/gigsbackground.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-wrapper--getupdates{
    background-color: #525252;
}
.container-wrapper--info{
    background: url('../images/fabfoursection.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*-----------------------------------------------------Figure*/
figure{
    text-align: center;
    padding-bottom:10px;
    font-style: italic;
  
}
figure .img-responsive{
        margin-left: auto;
    margin-right: auto
}
figcaption{
    font-style:italic;
    font-size:15px;
}
/*------------------------------------------------------Block Dividers*/

.block-divider-blue{
    width:75px;
    height:7px;
    background-color:rgb(25,25,112);
    border-radius:2px;
}

/*-------------------------------------------------------Table*/

th,td{
   font-size:23px;
    padding-right: 10px;
}

/*---------------------------------------------------------Modal*/	

/*Body width increases when modal is opened -issue resolved from https://github.com/jschr/bootstrap-modal/issues/64*/
.modal-open {
  position: fixed;
  overflow: scroll;
  width: 100%;
  padding-right: 0!important;
}

.modal-content{
    background-color: rgb(219, 199, 189); 
}

.modal .btn-success {
    color: #fff;
    background-color: grey;
    border-color:transparent;
}




/*----------------------------------------------Buttons */

/* To generate responsive behaviour for button
code taken from https://stackoverflow.com/questions/19284153/how-to-get-a-responsive-button-in-bootstrap-3*/

.btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
}


/*------------------------------------------------------Footer*/
footer{
    background-color: #000000;
    color: #fafafa;
    min-height: 120px;
    margin:0;
}


#footer-details{
    margin:20px;
    letter-spacing:0.2em;
}

.social-links li a i{
    width: 32px;
    height:32px;
    padding:12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    transition: all,0.35s ease-in-out;
    -moz-transition: all,0.35s ease-in-out;
    -webkit-transition: all,0.35s ease-in-out;
    -o-transition: all,0.35s ease-in-out;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}



/*-----------------------------Media queries*/


/* Used Chrome Dev Tools */

@media screen and (max-width: 768px)
{
.table-responsive {
    display: block;
    border:none;
    font-size: 16px;
    } 
 

}

@media (max-width: 600px) {
    .audio-content-container img{
    display: none;
  }
}

